{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h2>Editar Postagem:</h2>
<form action="/admin/postagens/edit" method="post">
  <input type="hidden" name="id" value="{{postagem._id}}" />
  <label for="titulo">Titulo:</label>
  <input type="text" name="titulo" id="titulo" class="form-control" value="{{postagem.titulo}}"/>
  <br />
  <label for="slug">Slug</label>
  <input type="text" name="slug" id="slug" class="form-control" value="{{postagem.slug}}" />
  <br />
  <label for="descricao">Descrição:</label>
  <input type="text" name="descricao" id="descricao" class="form-control" value="{{postagem.descricao}}" />
  <br />
  <label for="conteudo">Conteúdo:</label>
  <textarea name="conteudo" id="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
  <br />
  <label for="categoria">Categoria: </label>
  <select name="categoria" id="categoria" class="form-select">
    {{#each categorias}}
      <option value="{{_id}}">{{nome}}</option>
    {{else}}
      <option value="0">Nenhuma Categoria</option>
    {{/each}}
  </select>
  <br />
  <button type="submit" class="btn btn-success">Editar Postagem</button>
</form>